<div class="citation-section">
  <div class="citation-header">
    <h3>Citation</h3>
    <p class="citation-intro">If you found this article useful, please cite it using one of the formats below:</p>
  </div>

  <div class="citation-content">
    <div class="citation-format">
      <h4>APA Format</h4>
      <div class="citation-text">
        <p>{{ site.last_name }}, {{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %}. ({{ page.date | date: "%Y, %B" }}). <em>{{ page.title }}</em>. {% if site.title != 'blank' %}{{ site.title }}. {% endif %}Retrieved from {{ site.url }}{{ page.url }}</p>
      </div>
    </div>

    <div class="citation-format">
      <h4>BibTeX Entry</h4>
      {% capture citation_code -%}
```bibtex
@article{ {{- site.last_name | downcase }}{{ page.date | date: "%Y" }}{{ page.title | slugify }},
  title   = { {{- page.title -}} },
  author  = { {{- site.last_name }}, {{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif -%}},
  {%- if site.title != 'blank' %}
  journal = { {{- site.title -}} },
  {%- endif %}
  year    = { {{- page.date | date: "%Y" -}} },
  month   = { {{- page.date | date: "%b" -}} },
  url     = { {{- site.url }}{{ page.url -}} }
}
```
      {%- endcapture %}
      {{ citation_code | markdownify }}
    </div>
  </div>
</div>
